/* Global */
* {
  box-sizing: border-box;
}

body {
  color: #212121;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  line-height: 1.4;
  margin: 0;
}

.app {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

a {
  color: #0D47A1;
  text-decoration: none;
}
a:hover,
a:visited {
  color: #1976D2;
}

h1 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

small {
  font-size: 0.9em;
}

pre, code {
  font-size: 0.9em;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  overflow-x: scroll;
}

/* Header */
header {
  padding: 10px;
  border-bottom: 1px solid #E3F2FD;
}
header h1 {
  display: inline-block;
}
header h1:visited {
  color: #1976D2;
}
header .about-link {
  float: right;
  line-height: 1.8;
}

/* Loading, NewsItem no comments */
.loading,
.news-item-no-comments {
  margin: 4rem 10px;
  text-align: center;
}

/* NewsList load more */
.news-list-load-more {
  display: block;
  width: 100%;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

/* NewsListItem */
.news-list-item {
  padding: 10px;
  border-bottom: 1px solid #E3F2FD;
}
.news-list-item a {
  display: block;
  color: #212121;
}
.news-list-item a:hover,
.news-list-item a:visited {
  color: #757575;
}

/* NewsItem */
.news-item {
  padding: 10px;
  border-bottom: 1px solid #E3F2FD;
}
.news-item-meta:not(:last-child) {
  margin-bottom: 10px;
}
.news-item-meta a {
  color: #212121;
}
.news-item-meta a:hover,
.news-item a:visited {
  color: #757575;
}
.news-item-content p {
  margin: 0 0 10px;
}
.news-item-content p:last-of-type {
  margin: 0;
}

/* Comments */
.comment {
  padding: 10px 0 10px 10px;
  border-bottom: 1px solid #E3F2FD;
}
.comment-meta:not(:last-child) {
  margin-bottom: 10px;
}
.comment-meta p {
  margin: 0;
  display: inline-block;
}
.comment-meta a:last-child {
  float: right;
}
.comment-content p {
  margin: 0 0 10px;
  word-break: break-word;
}
.comment-content p:last-of-type {
  margin-bottom: 0;
}
.comment-content:not(:last-child) {
  margin-bottom: 10px;
}
.comment-nested .comment {
  border-top: 1px solid #E3F2FD;
}

/* Comment levels */
.comment-l0 {
  padding-right: 10px;
}
.comment-l1 {
  border-left: 2px solid #f2767c;
}
.comment-l2 {
  border-left: 2px solid #f99061;
}
.comment-l3 {
  border-left: 2px solid #ffcb76;
}
.comment-l4 {
  border-left: 2px solid #98cc9e;
}
.comment-l5 {
  border-left: 2px solid #65cdcb;
}
.comment-l6 {
  border-left: 2px solid #6699c8;
}
.comment-l7 {
  border-left: 2px solid #cd99c9;
}
.comment-l8 {
  border-left: 2px solid #d27a59;
}
