/*
  Colors -
  Base  #000000
  10%   #1A1A1A
  20%   #333333
  30%   #4D4D4D
  40%   #666666
  90%   #E5E5E5
               */

/* Global */
* {
  box-sizing: border-box;
}

body {
  color: #1A1A1A;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 0.85em;
  line-height: 1.5;
}

.app {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

a {
  color: #333333;
  text-decoration: none;
}
a:hover, a:active, a:focus {
  color: #666666;
}

h1 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

strong {
  font-weight: 600;
}

/* Header */
header {
  padding: 10px;
  border-bottom: 1px solid #666666;
}
header h1 {
  display: inline-block;
}
header a {
  color: #1A1A1A;
}
header > a:last-child {
  float: right;
}

/* NewsList */
.news-list {
  margin: 10px;
}

/* NewsListItem */
.news-list article {
  margin-bottom: 10px;
}

/* NewsItem */
.news-item article {
  padding: 10px;
  border-bottom: 1px solid #666666;
}

/* Comments */
.comments div {
  padding: 10px;
  border-bottom: 1px solid #E5E5E5;
}
.comments p {
  margin: 0 0 10px;
}
.comments p:last-child {
  margin-bottom: 0;
}
.comments .l-1 {
  border-left: 4px solid blue;
}
.comments .l-2 {
  margin-left: 4px;
  border-left: 4px solid purple;
}
.comments .l-3 {
  margin-left: 8px;
  border-left: 4px solid green;
}
.comments .l-4 {
  margin-left: 12px;
  border-left: 4px solid orange;
}
.comments .l-5 {
  margin-left: 12px;
  border-left: 4px solid red;
}
